<h1>My To Do List</h1>

{% if messages %}
{% for message in messages %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
      $(function(){
    setTimeout(function(){
        $("#alertMessage").hide();
        });
      });
    </script>


<div id="alertMessage" class="toast" role="alert" aria-live="polite" aria-atomic="true" data-animation="5000" data-delay="2000" style="display:none">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <div role="alert" aria-live="assertive" aria-atomic="true">{{ message }}</div>
</div>

 {% endfor %}
 {% endif %}

<form action="/addTodoItem/" method = "post">{% csrf_token %}
    <input type="text" name="content_name" placeholder="Your name">
    <input type="text" name="content_city" placeholder="Your city">
    <input type="text" name="content_age" placeholder="Your age">
    <input type="submit" value="Add Todo Item">
</form>


 <ul>
    {% for i in all_items %} 
    <li>{{i.name}}___{{i.city}}___{{i.age}}
        <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
        </form> 
    </li>
    {% endfor %}
</ul>


<script>
$(alertMessage).ready(function() {
  $( "div.toast" ).delay( 10000 ).fadeIn( 400 );
});
</script>


