<h1>My To Do List</h1>

<head>
    <title>Demo</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
      $(function(){
    setTimeout(function(){
        $("#alertMessage").hide();
        }, 10000);
      });
    </script>
        <script type="text/javascript">
      $(function(){
       $('#alertMessage').delay(2000).fadeOut();
      });
    </script>
  </head>

{% if messages %}
{% for message in messages %}


<div id="alertMessage" class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
     </button>
     <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!
     </strong> {{ message }}
 </div>
 {% endfor %}
 {% endif %}

<form action="/addTodoItem/" method = "post">{% csrf_token %}
    <input type="text" name="content_name">
    <input type="text" name="content_city">
    <input type="text" name="content_age">
    <input type="submit" value="Add Todo Item">
</form>


 <ul>
    {% for i in all_items %} 
    <li>{{i.name}}___{{i.city}}___{{i.age}}
        <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
        </form> 
    </li>
    {% endfor %}
</ul>

